Wof/Loading
{
	zorder 500
	// Stats block
	container BorderPanel(Wof/LoadingScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 1
		height 1
		material SplashScreen

        	element TextArea(Wof/LoadingScreenText)
		{
			metrics_mode relative
			left 0.03
			top 0.51
			width 0.2
			height 0.025
			font_name BlueHighway
			char_height 0.025
			colour 0 0.1 0			
		}

		
       	container Panel(Wof/LoadingScreenMissionType)
        	{
             	left 0.95
             	top 0.480
             	width 0.05
             	height 0.05
             	material MissionType
        	}
    


		
		
	}
}


Wof/MessageBar
{
	
	container BorderPanel(Wof/MessageBarIcon)
	{

		metrics_mode pixels		
		left 0 
		top 0
		width 64
		height 64
		material MessageBarIcon

	}
}


Wof/Preloader
{	
	
	zorder 1
	container BorderPanel(Wof/PreloaderScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 0.1
		height 0.1
		material Soldier
	}
	
}




Wof/Intro
{
	zorder 500
	// Stats block
	container BorderPanel(Wof/IntroScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 1
		height 1
		material IntroScreen1
		
	}
}







Wof/HUD
{
	zorder 1
	
}



Wof/Debug
{
		element TextArea(Wof/DebugText)
		{
			metrics_mode relative
			left 0
			top 0
			width 1
			height 0.1
			font_name BlueHighway
			
		}
}