Wof/Loading
{
	zorder 500
	// Stats block
	container BorderPanel(Wof/LoadingScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 1
		height 1
		material SplashScreenBg


        	element TextArea(Wof/LoadingScreenText)
		{
			metrics_mode relative
			left 0.03
			top 0.51
			width 0.2
			height 0.025
			font_name BlueHighway
			char_height 0.025
			colour 0 0.1 0			
		}

		
       	container Panel(Wof/LoadingScreenMissionType)
        	{
             	left 0.95
             	top 0.480
             	width 0.05
             	height 0.05
             	material MissionType
        	}
    
		container Panel(Wof/LoadingScreenSplash)
        	{
             	left 0.0
             	top 0.0
             	width 1.0
             	height 1.0
             	material SplashScreen
        	}

	}
}



Wof/LoadingAd
{
	zorder 500
	// Stats block
	container BorderPanel(Wof/LoadingAdScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 1
		height 1
		material LoadingAdBg


		element Panel(Wof/LoadingAdScreenBg)
		{
			metrics_mode relative
			left 0.0
			top 0.0
			width 1
			height 0.05
			material SplashScreenBg	
		}


        	element TextArea(Wof/LoadingAdScreenText)
		{
			metrics_mode relative
			left 0.03
			top 0.01
			width 0.2
			height 0.03
			font_name BlueHighway
			char_height 0.03
			colour 0 0.1 0			
		}
		

       	container Panel(Wof/LoadingAdScreenLogo)
        	{
			metrics_mode relative
             	left 0.70
             	top 0.011
             	width 0.24
             	height 0.028
             	material LoadingAdLogo
        	}

		container Panel(Wof/LoadingAdScreenMissionType)
        	{
             	left 0.95
             	top 0.005
             	width 0.04
             	height 0.04
             	material MissionType
        	}


		container Panel(Wof/LoadingAdScreenSplash)
        	{
             	left 0.0
             	top 0.05
             	width 1.0
             	height 0.95
             	material SplashScreen
        	}

    
		
	}
}




Wof/MessageBar
{
	
	container BorderPanel(Wof/MessageBarIcon)
	{

		metrics_mode pixels		
		left 0 
		top 0
		width 64
		height 64
		material MessageBarIcon

	}
}


Wof/Preloader
{	
	
	zorder 1
	container BorderPanel(Wof/PreloaderScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 0.1
		height 0.1
		material Soldier
	}
	
}




Wof/Intro
{
	zorder 500
	// Stats block
	container BorderPanel(Wof/IntroScreen)
	{
		metrics_mode relative		
		left 0 
		top 0
		width 1
		height 1
		material IntroScreen1
		
	}
}







Wof/HUD
{
	zorder 1
	
}



Wof/Debug
{
		element TextArea(Wof/DebugText)
		{
			metrics_mode relative
			left 0
			top 0
			width 1
			height 0.1
			font_name BlueHighway
			
		}
}